@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

.slider-wrapper {
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 15px; 
  width: max-content;
  animation: slide 20s linear infinite;
}

.slider-image {
  width: 80vw; /* thoda chhota taaki gap dikhe */
  max-height: 500px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 5px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


